# indicate this is the root of the project
root = true

[*.{kt,java,xml,gradle,md}]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf
ktlint_standard_discouraged-comment-location = disabled
ktlint_standard_block-comment-initial-star-alignment = enabled
ktlint_standard_multiline-expression-wrapping = disabled